<form *ngIf="supplier" name="deleteForm" (ngSubmit)="confirmDelete(supplier.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="supplierDeleteDialogHeading">الحذف</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body" style="text-align: right">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-supplier-heading">هل متاكد من الحذف؟</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">
      <span>الغاء</span>
    </button>

    <button id="jhi-confirm-delete-supplier" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger btn-sm">
      <span>حذف</span>
    </button>
  </div>
</form>
