<div style="text-align: right">
  <h2 id="page-heading" data-cy="DispatchHeading">
    <span>المصروفات</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dispatch"
        [routerLink]="['/dispatch/new']"
      >
        <span> اضافة </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dispatches?.length === 0">
    <span>لا يوجد مصروف</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dispatches && dispatches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ر.م</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dispatchDate"><span>تاريخ الصرف</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="item"><span>الصنف</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity"><span>الكمية</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="car.id"><span>السيارة</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="supplier.id"><span>المورد</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dispatch of dispatches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dispatch', dispatch.id, 'view']">{{ dispatch.id }}</a>
          </td>
          <td>{{ dispatch.dispatchDate | formatMediumDate }}</td>
          <td>{{ dispatch.item }}</td>
          <td>{{ dispatch.quantity }}</td>
          <td>
            <div *ngIf="dispatch.car">
              <a [routerLink]="['/car', dispatch.car?.name, 'view']">{{ dispatch.car?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dispatch.supplier">
              <a [routerLink]="['/supplier', dispatch.supplier?.name, 'view']">{{ dispatch.supplier?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dispatch', dispatch.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <span class="d-none d-md-inline">عرض</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dispatch', dispatch.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <span class="d-none d-md-inline">تعديل</span>
              </button>

              <button type="submit" (click)="delete(dispatch)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline">حذف</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dispatches && dispatches.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
